* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: salmon;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-flow: column;
}
img {
  width: 300px;
  margin: 20px 0;
  box-shadow: 0 0 20px #000;
}
h1,
h2 {
  color: #fff;
  font-family: sans-serif;
  text-shadow: 0 0 20px #000;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3em;
  cursor: pointer;
}
